.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will cover the full viewport height */
}

.spinner {
    border: 16px solid #AEB1C1; /* Light grey */
    border-top: 16px solid #01F401; /* Green */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
