:root {
  font-family: pixel;
  --startBackgroundColor: #142334;
  --endBackgroundColor: #040404;
  --vertical-gradient: linear-gradient(90deg, var(--startBackgroundColor), var(--endBackgroundColor));

}


body{
  background: var(--vertical-gradient);
}
html{
  height: 100%;
}