.image-containerSignUp {
    margin-top: 10px;
    margin-right: 40px;

}

.SignUpImage {
    max-width: 100%;
    max-height: 150px;
}

.extra-textl {
    color: #FF00C7 !important;
    font-size: 16px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    font-weight: lighter
}

.extra-text2 {
    color: white;
    font-size: 16px;

}

.text-link {
    color: #FF00C7 !important;
}

.input-header{
    color: #01F401;
    padding-top: 5px;
    font-size: 18px;
    padding-left: 4px;
    font-family: "Space Grotesk";
    margin-bottom: 6px !important;

}